<div class="grid pt-20 grid-cols-1 xl:grid-cols-5 gap-10">
  <a href="/pages/catalog-item" class="xl:col-span-2 bg-white overflow-hidden bg-white block isolate">
    <img src="<%= @photo %>" class="scale-75 hover:scale-90 transition-all duration-300 w-full h-72 -z-10 object-contain" />
  </a>
  <div class="xl:col-span-3">

    <div class="group">
      <a href="/pages/catalog-item" class="mb-5 block text-3xl hover:text-sky-500 font-medium">
        <%= @title %>
      </a>
      <span class="h-1 bg-gradient-to-r from-sky-600 to-sky-400 group-hover:w-full translate-all duration-300 w-20 block my-4"></span>
    </div>

    <p class="mb-5">
      <%= @description %>
    </p>

    <div class="text-base justify-between flex md:flex-col lg:flex-row gap-4">
      <%= render ButtonComponent.new(title: "Детали", link: "/pages/catalog-item", type: :primary) %>
      <%= render ButtonComponent.new(title: "Запросить цену", link: "#", type: :secondary_color) %>
    </div>

  </div>
</div>
