<%= render Section::HeroAboutComponent.new %>

<div class="py-10 md:py-20 lg:py-28">
  <%= render Grid::TitleContentComponent.new do |c| %>

    <% c.with_title do %>
      <div class='flex gap-6 font-bold text-2xl md:text-4xl items-center'>
        <%= image_tag('logo.png', srcset: { 'logo@2x.png' => '2x' }, alt: 'SMT-Line', class: 'w-fit object-contain scale-125 shrink-0') %>
        <span class="mr-4 whitespace-nowrap">
          СМТ-Лайн
        </span>
      </div>
    <% end %>

    <p class="mb-10 md:mb-20">
    Нашей компании 12 лет. За это время мы изучили рынок оборудования, как свои 5 пальцев, наладили логистику, собрали пул опытнейших инженеров, запустили научно-исследовательские и опытно-конструкторские работы, научились объединять лучшие решения внедрять оборудование под ваши нужды: от кассовых аппаратов — до специализированной электроники.
    </p>

    <div>
      <h2 class="mb-10 text-4xl">Наша команда</h2>

      <div class="grid grid-cols-2 lg:grid-cols-3 gap-0">
        <% (0..7).each do |item| %>
          <div class="overflow-hidden w-full h-full break-inside-avoid group isolate">
            <%= image_tag("photos/#{item}.jpg", class: "scale-90 group-hover:scale-100 transition-all duration-300 w-full -z-10 object-contain") %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<%= render Section::FooterComponent.new %>

