<div class="lg:sticky lg:top-0">
  <%= render Index::HeroComponent.new %>
</div>

<div class="lg:relative lg:bg-white">
  <%= render Index::Hero::BenefitsComponent.new %>
  <%= render Index::AboutCompanyComponent.new %>

  <%= render Index::TopComponent.new %>
  <%= render DeliveryComponent.new %>
  <%= render CertificatesComponent.new %>
</div>
