

<div>
  <%= render Section::HeroComponent.new %>

  <%= render Section::BenefitsComponent.new %>
  <%= render Section::AboutCompanyComponent.new %>
  <%= render Section::TopProductsComponent.new %>
  <%= render Section::DeliveryComponent.new %>
  <%= render Section::CertificatesComponent.new %>
  <%= render Section::NewsComponent.new %>
  <%= render Section::FooterComponent.new %>
</div>
