<div>
  <%= render Section::HeroComponent.new %>

  <div class="lg:relative block lg:z-50 lg:bg-white">
    <%= render Section::BenefitsComponent.new %>
    <%= render Section::AboutCompanyComponent.new %>
    <%= render Section::TopProductsComponent.new %>
    <%= render Section::DeliveryComponent.new %>
    <%= render Section::CertificatesComponent.new %>
    <%= render Section::NewsComponent.new %>
  </div>
</div>
