<div class="py-20"> <%= render Grid::TitleContentComponent.new do |c| %>
    <% c.with_title do %>
      <p class="md:text-2xl md:leading-relaxed">
        К группе специализированного оснащения, которое обеспечивает автоматизацию процесса монтажа определенных электронных деталей на поверхность печатных плат, относится установщик SMD компонентов. Данными устройствами комплектуют рабочие места сотрудников-радиомонтажников, также данная техника является обязательной частью технологической линии мелкосерийного, среднесерийного и крупносерийного производства.
      </p>
    <% end %>
  <% end %>
  
  <div class="mb-20">
    <%= render Grid::TitleContentComponent.new do |c| %>
      <% c.with_title do %>
        <%= render Element::TitleComponent.new(title: "Разновидности установщиков", type: :h2) %>

      <% end %>
      <div class="space-y-5">
        <p>
        Разнообразные модели настольных установщиков СМД-компонентов делятся на несколько разновидностей – ручная, полуавтоматическая или автоматическая сборка печатных углов. У каждой группы оборудования есть свои преимущества и особенности
        </p>
      </div>
    <% end %>
  </div>

  <%= render Grid::TitleContentComponent.new do |c| %>
    <% c.with_title do %>
      <%= render Element::TitleComponent.new(title: "Ручные модели установщиков", type: :h2) %>
      
    <% end %>
    <div class="mb-28 space-y-5">
      <img src="https://smt-line.ru/img/text/smt402.png" />
      <p>
        Производство единичных изделий или же проведение ремонта электроники требует соблюдения максимальной точности. Применение техники для крупносерийного производства в данной ситуации нецелесообразно из-за избыточного уровня производительности, высокой цены и трудности использования. Оптимальный вариант – ручной установщик SMD компонентов.
      </p>
      <p>
        От автоматических аппаратов он отличается за счет следующих особенностей
      </p>
      <ul class="list-disc list-inside">
        <li>ручной режим – сборка электронного изделия контролируется оператором, в оборудовании автоматизированы только некоторые процессы </li>
        <li>низкая производительность – ручной установщик обеспечивает скорость монтажа порядка 300-700 компонентов в час, что вполне хватит для изготовления опытной партии товара, проведения ремонта и использования с учебной целью</li>
        <li>компактные размеры – данное оборудование имеет сравнительно небольшой размер, который позволяет установить его на стол в небольшом помещении (к примеру, в лаборатории или учебном классе).</li>
      </ul>
      <p>Если нужна большая производительность, то следует обратить внимание на полуавтоматы и автоматические модели</p>
    </div>
  <% end %>

  <%= render Grid::TitleContentComponent.new do |c| %>
    <% c.with_title do %>
      <%= render Element::TitleComponent.new(title: "Отличия полуавтоматического оборудования", type: :h1) %>
      
    <% end %>
    <div class="space-y-5">
      <p>Полуавтоматический настольный установщик SMD компонентов – оптимальный вариант по показателям качества, продуктивности и цены, который используется на небольшом производственном участке, в научной лаборатории и прочих. Данные системы позволяют операторам монтировать компоненты, минуя изучение конструкторских документов и используя только программу. Это упрощает работу и уменьшает утомляемость, а также минимизирует риск брака. </p>
      <p>
        От автоматических аппаратов он отличается за счет следующих особенностей
      </p>
      <ul class="list-disc list-inside">
        <li>ручной режим – сборка электронного изделия контролируется оператором, в оборудовании автоматизированы только некоторые процессы </li>
        <li>низкая производительность – ручной установщик обеспечивает скорость монтажа порядка 300-700 компонентов в час, что вполне хватит для изготовления опытной партии товара, проведения ремонта и использования с учебной целью</li>
        <li>компактные размеры – данное оборудование имеет сравнительно небольшой размер, который позволяет установить его на стол в небольшом помещении (к примеру, в лаборатории или учебном классе).</li>
      </ul>
      <p>Если нужна большая производительность, то следует обратить внимание на полуавтоматы и автоматические модели</p>
    </div>
  <% end %>

</div>
