<div class="bg-[#212A41] text-white pt-10 md:pt-40 lg:pt-56">

  <%= render Grid::TitleContentComponent.new do |c| %>
    <% c.with_title do %>
      <%= render Element::TitleComponent.new(title: "Всё, что нужно для производства электроники", type: :h1) %>
    <% end %>

    <div class="mb-20">
      <p>
      Мы поставляем установщики компонентов, трафаретные принтеры, печи оплавления припоя, конвейерные системы, системы рентгеновского контроля.
      </p>
      <p>
      Наша команда предложит вам наилучшее решение как единичных машин, так и готовых производственных решений.
      </p>
    </div>

    <div class="flex text-xl flex-col sm:flex-row  gap-4 sm:gap-10">
      <%= render ButtonComponent.new(link: "/pages/catalog", title: "Каталог", type: :primary) %>
      <%= link_to "Отдел продаж", modal_path, data: { turbo_frame: 'modal' }, class: "inline-block border-2 border-white/30 hover:border-orange-400/50 hover:text-orange-400 flex-nowrap text-center w-auto rounded-full px-8 sm:px-8 py-3 font-medium" %>
    </div>
  <% end %>

  <div class="py-10 lg:py-40">
    <%= render Grid::Cols3Component.new do %>
      <%= render Card::CategoryWithTitleComponent.new(photo: "https://smt-line.ru/img/byhash/c4/11/c411f2211709e9e2d77143ee4867ef03d772d85dfb1aa4fe4e12f9b45bd46853.jpeg", title: "Установщик компонентов Beijing Huawei Silkroad Electronic HW-DSQ800-120F", category: "Установщик компонентов") %>
      <%= render Card::CategoryWithTitleComponent.new(photo: "https://smt-line.ru/img/byhash/49/82/4982ccec903c70f3bd4739ef9419462e8cec4d192ae092a1939c71e66b527b7b.jpeg", title: "Печь оплавления припоя Heech Electronic HC-RF6450", category: "Печи оплавления припоя") %>
      <%= render Card::CategoryWithTitleComponent.new(photo: "https://smt-line.ru/img/byhash/e5/b0/e5b06e196e96625c2533640ca7d8ab59f66b54d90244cfd5b23e643b57cc48a9.jpeg", title: "Трафаретный принтер Heech Electronic HC-PR1250", category: "Установщик компонентов") %>
      <%= render Card::CategoryWithTitleComponent.new(photo: "https://smt-line.ru/img/byhash/40/8e/408e89cf29fb47a501210d0c48c870e3f114cd8223600a741acab34d79efcbb1.jpeg", title: "Печь волновой пайки Heech Electronic HC-WS400-C", category: "Трафаретные принтеры") %>
      <%= render Card::CategoryWithTitleComponent.new(photo: "https://smt-line.ru/img/byhash/49/82/4982ccec903c70f3bd4739ef9419462e8cec4d192ae092a1939c71e66b527b7b.jpeg", title: "Печь оплавления припоя Heech Electronic HC-RF6450", category: "Печи оплавления припоя") %>
      <%= render Card::CategoryWithTitleComponent.new(photo: "https://smt-line.ru/img/byhash/40/8e/408e89cf29fb47a501210d0c48c870e3f114cd8223600a741acab34d79efcbb1.jpeg", title: "Печь волновой пайки Heech Electronic HC-WS400-C", category: "Трафаретные принтеры") %>
    <% end %>
  </div>

</div>
